langchain
langgraph
langchain-openai
ddgs
trafilatura
httpx
pydantic
pydantic-settings
langchain-community
faiss-cpu
tiktoken
python-dotenv
pypdf
langchain-text-splitters
rank-bm25
sentence-transformers